@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@200;300;400;500&display=swap');

/*-----fonts-----*/

body{
    font-family: montserrat, sans-serif;
    font-weight: 300;
}

p{
    font-size: small;
}

h1, h2, h3, h4, h5, h6 {
    font-family: abel, sans-serif;
    font-weight: 500;
}

.btn, .menu-items{
    font-weight: 500;
}

/*-----colors-----*/
.menu-items, footer, .services-text-div{
    background-color: rgba(240,240,240,0.9);
}

body, a, .fas{
    color: #626B73;
}

a:hover, .dropdown button:hover, .fas:active{
    color:#F2B705;
}

h1{
    color: #BF7E04;
}

h4{
    color: #fff;
    background-color:#BF7E04;
}

.services-text-div{
    color: #fff;
}

.services-text-div{
    background-color:rgba(242,183,5,0.5);
}

.contact-container .col-md-4, .card{
    background-color: #626B73;
    color: #fff;
}

.contact-container .col-md-8{
    background-color: #F2B705;
    border-color: #F2B705;
    color: #fff;
}

.dropdown-item{
    color: #fff;
}

.dropdown-menu{
    background-color: #626B73;
}

.dropdown button{
    color: #626B73;
}

/*-----matching border-radius-----*/

.menu-items, .gallery-image-row img, .services-image-div, h4, .services-text-div{
    border-radius: 3px;
}

/*-----general-----*/

.container{
    max-width: 85%;
}

h1, h4{
    margin-bottom: 20px;
    margin-top: 20px;
}

/*-----header-----*/

.logo{
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: 10%;
}

nav a{
    text-decoration: none;
    margin-right: 10%;
}

.menu-items{
    padding: 3%;
}

.dropdown {
    right: 0;
    margin-right: -8px;
    position: fixed;
    z-index: 2;
}

.dropdown-menu{
    padding: 0;
    border: none;
    margin-top: 40%;
    margin-right: 4%;
    min-width: fit-content;
    z-index: 1;
}

.dropdown-item{
    padding-right: 15px;
    padding-left: 15px;
}

/*-----hero image-----*/

.hero-section{
    height: 70vh;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: -140px;
}

.hero{
    position: relative;
    bottom: 450px;
    z-index: -1;
    padding: 0;
}

.hero img {
    min-width: 100%;
}

/*-----footer-----*/

.footer-row{
    height: fit-content;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.social-media a{
    text-decoration: none;
}

