/*-----index.html-----*/

.who-are-we{
    margin: auto;
    margin-bottom: 30px;
}

.who-are-we a{
    text-decoration: none;
}

.card{
    overflow: hidden;
    max-height: fit-content;
    max-width: 400px;
    display: inline-block;
}

