/*-----services.html-----*/

.services-image-div{
    padding-top: 15px;
}

.services-image-row .col-4, .services-image-div{
    height: 30vh;
    overflow: hidden;
}

.services-image-div img{
    z-index: -1;
} 

.services-text-div h2, .services-text-div p{
    margin: 0;
}

.services-text-div{
    position: relative;
    top: -50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-div, .carousel-div .services-image-div{
    height: 50vh;
    
}
