/*-----services.html-----*/

.services-image-row .col-lg-4{
    padding: 15px;
}

.services-text-div{
    position: relative;
    top: 43%;
    height: 57%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item, .services-div{
    height: 50vh;
    background-size: cover;
    background-position-y: center;
}
