/*-----services.html-----*/

.services-image-row .col-4{
    height: 288px;
    padding:12px;
}

.services-image-div img{
    width: auto;
    height: auto;
    z-index: -1;
}

.services-image-div{
    height: 100%;
    overflow: hidden;
}

.services-text-div h2, .services-text-div p{
    margin: 0;
}

.services-text-div{
    position: relative;
    top: -60%;
    height: 52.5%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
