/*-----colors-----*/
.header{
    background-color: grey;
    
}

/*-----header-----*/

.header {
    height: fit-content;
}

.logo{
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: 40px;
}

.menu li {
    display: inline-block;
    margin-top: 40px;
    width: 10%;
    margin-right: 10px;
    
}