/*-----colors-----*/
header{
    background-color: #F0F0F0;
    
}

footer{
    background-color: #F0F0F0;
}

/*-----header-----*/
.logo{
    margin-top: -30px;
    margin-bottom: -30px;
    margin-left: 10%;
}

nav a{
    text-decoration: none;
    margin-right: 10%;
}

/*-----hero image-----*/
.hero-section{
    height: 470px;
    margin-bottom: 10px;
    overflow: hidden;
}

.hero{
    position: relative;
    bottom: 450px;
}

/*-----footer-----*/

.footer-row{
    height: 140px;
    text-align: center;
}

.social-media a{
    text-decoration: none;
}

